<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".Mp3CoolApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="MP3cool"
        android:theme="@style/Theme.MP3cool">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
